<a href="https://colab.research.google.com/github/CJO100293/deep-learning-challenge/blob/WIP/AlphabetSoupCharity_Optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN', 'NAME'], axis = 1, inplace = True)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [ ]:
# Determine the number of unique values in each column.
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_df[application_cat].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
application_types_counts = application_types_counts=application_df.APPLICATION_TYPE.value_counts()
application_types_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_types_counts[application_types_counts<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
classification_counts = classification_counts=application_df.CLASSIFICATION.value_counts()
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_above1 = classification_counts[classification_counts>1]
classification_counts_above1

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts<500].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: count, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
categorical_data = pd.get_dummies(application_df,dtype=float)
categorical_data.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
# Split our preprocessed data into our features and target arrays
y = categorical_data['IS_SUCCESSFUL'].values

# drop 'IS SUCCESSFUL'
X = categorical_data.drop('IS_SUCCESSFUL', axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 50)

categorical_data

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 150
hidden_nodes_layer2 = 150
hidden_nodes_layer3 = 150
hidden_nodes_layer4 = 150
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third Hidden Layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Fourth Hidden Layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               4500

 dense_1 (Dense)             (None, 150)               15150

 dense_2 (Dense)             (None, 200)               30200

 dense_3 (Dense)             (None, 250)               50250

 dense_4 (Dense)             (None, 1)                 251

=================================================================
Total params: 100351 (392.00 KB)
Trainable params: 100351 (392.00 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.25, batch_size=50, epochs=125)

Epoch 1/125
386/386 [==============================] - 2s 2ms/step - loss: 0.5857 - accuracy: 0.7023 - val_loss: 0.5548 - val_accuracy: 0.7245
Epoch 2/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5650 - accuracy: 0.7209 - val_loss: 0.5531 - val_accuracy: 0.7338
Epoch 3/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5611 - accuracy: 0.7257 - val_loss: 0.5531 - val_accuracy: 0.7333
Epoch 4/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5576 - accuracy: 0.7262 - val_loss: 0.5497 - val_accuracy: 0.7339
Epoch 5/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5558 - accuracy: 0.7260 - val_loss: 0.5501 - val_accuracy: 0.7318
Epoch 6/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5550 - accuracy: 0.7261 - val_loss: 0.5474 - val_accuracy: 0.7329
Epoch 7/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5542 - accuracy: 0.7251 - val_loss: 0.5506 - val_accuracy: 0.7311
Epoch 8/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5535 - accuracy: 0.7291 - val_loss: 0.5527 - val_accuracy: 0.7325
Epoch 9/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5527 - accuracy: 0.7280 - val_loss: 0.5538 - val_accuracy: 0.7324
Epoch 10/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5506 - accuracy: 0.7295 - val_loss: 0.5488 - val_accuracy: 0.7329
Epoch 11/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5502 - accuracy: 0.7299 - val_loss: 0.5494 - val_accuracy: 0.7329
Epoch 12/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5492 - accuracy: 0.7293 - val_loss: 0.5503 - val_accuracy: 0.7290
Epoch 13/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5475 - accuracy: 0.7303 - val_loss: 0.5529 - val_accuracy: 0.7316
Epoch 14/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5475 - accuracy: 0.7312 - val_loss: 0.5566 - val_accuracy: 0.7262
Epoch 15/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5475 - accuracy: 0.7308 - val_loss: 0.5504 - val_accuracy: 0.7307
Epoch 16/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5467 - accuracy: 0.7328 - val_loss: 0.5516 - val_accuracy: 0.7325
Epoch 17/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7317 - val_loss: 0.5510 - val_accuracy: 0.7319
Epoch 18/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7326 - val_loss: 0.5523 - val_accuracy: 0.7283
Epoch 19/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7326 - val_loss: 0.5530 - val_accuracy: 0.7324
Epoch 20/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7326 - val_loss: 0.5542 - val_accuracy: 0.7299
Epoch 21/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7340 - val_loss: 0.5509 - val_accuracy: 0.7322
Epoch 22/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7329 - val_loss: 0.5533 - val_accuracy: 0.7290
Epoch 23/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7326 - val_loss: 0.5653 - val_accuracy: 0.7313
Epoch 24/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7346 - val_loss: 0.5603 - val_accuracy: 0.7318
Epoch 25/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7352 - val_loss: 0.5589 - val_accuracy: 0.7282
Epoch 26/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7344 - val_loss: 0.5566 - val_accuracy: 0.7310
Epoch 27/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7337 - val_loss: 0.5573 - val_accuracy: 0.7310
Epoch 28/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7339 - val_loss: 0.5579 - val_accuracy: 0.7315
Epoch 29/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7358 - val_loss: 0.5616 - val_accuracy: 0.7304
Epoch 30/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7341 - val_loss: 0.5552 - val_accuracy: 0.7283
Epoch 31/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7363 - val_loss: 0.5631 - val_accuracy: 0.7321
Epoch 32/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7355 - val_loss: 0.5557 - val_accuracy: 0.7318
Epoch 33/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7358 - val_loss: 0.5593 - val_accuracy: 0.7319
Epoch 34/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7366 - val_loss: 0.5597 - val_accuracy: 0.7316
Epoch 35/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7353 - val_loss: 0.5586 - val_accuracy: 0.7315
Epoch 36/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7350 - val_loss: 0.5631 - val_accuracy: 0.7311
Epoch 37/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7360 - val_loss: 0.5600 - val_accuracy: 0.7324
Epoch 38/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7358 - val_loss: 0.5648 - val_accuracy: 0.7280
Epoch 39/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7368 - val_loss: 0.5657 - val_accuracy: 0.7311
Epoch 40/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7354 - val_loss: 0.5639 - val_accuracy: 0.7307
Epoch 41/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.7360 - val_loss: 0.5620 - val_accuracy: 0.7318
Epoch 42/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5368 - accuracy: 0.7358 - val_loss: 0.5642 - val_accuracy: 0.7313
Epoch 43/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5362 - accuracy: 0.7370 - val_loss: 0.5686 - val_accuracy: 0.7262
Epoch 44/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7360 - val_loss: 0.5648 - val_accuracy: 0.7318
Epoch 45/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5358 - accuracy: 0.7377 - val_loss: 0.5671 - val_accuracy: 0.7307
Epoch 46/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5354 - accuracy: 0.7363 - val_loss: 0.5666 - val_accuracy: 0.7307
Epoch 47/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5354 - accuracy: 0.7366 - val_loss: 0.5693 - val_accuracy: 0.7305
Epoch 48/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5355 - accuracy: 0.7364 - val_loss: 0.5665 - val_accuracy: 0.7308
Epoch 49/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7358 - val_loss: 0.5672 - val_accuracy: 0.7311
Epoch 50/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5347 - accuracy: 0.7367 - val_loss: 0.5663 - val_accuracy: 0.7308
Epoch 51/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5344 - accuracy: 0.7357 - val_loss: 0.5684 - val_accuracy: 0.7307
Epoch 52/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5339 - accuracy: 0.7384 - val_loss: 0.5696 - val_accuracy: 0.7319
Epoch 53/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5342 - accuracy: 0.7377 - val_loss: 0.5698 - val_accuracy: 0.7327
Epoch 54/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5344 - accuracy: 0.7380 - val_loss: 0.5717 - val_accuracy: 0.7280
Epoch 55/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5340 - accuracy: 0.7387 - val_loss: 0.5690 - val_accuracy: 0.7311
Epoch 56/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5345 - accuracy: 0.7379 - val_loss: 0.5702 - val_accuracy: 0.7304
Epoch 57/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5334 - accuracy: 0.7386 - val_loss: 0.5702 - val_accuracy: 0.7318

Epoch 58/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5330 - accuracy: 0.7380 - val_loss: 0.5762 - val_accuracy: 0.7307
Epoch 59/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5333 - accuracy: 0.7386 - val_loss: 0.5759 - val_accuracy: 0.7297
Epoch 60/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5334 - accuracy: 0.7376 - val_loss: 0.5745 - val_accuracy: 0.7308
Epoch 61/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5331 - accuracy: 0.7379 - val_loss: 0.5750 - val_accuracy: 0.7310
Epoch 62/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5336 - accuracy: 0.7379 - val_loss: 0.5739 - val_accuracy: 0.7316
Epoch 63/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5329 - accuracy: 0.7388 - val_loss: 0.5777 - val_accuracy: 0.7299
Epoch 64/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5320 - accuracy: 0.7387 - val_loss: 0.5762 - val_accuracy: 0.7294
Epoch 65/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5326 - accuracy: 0.7382 - val_loss: 0.5806 - val_accuracy: 0.7240
Epoch 66/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5327 - accuracy: 0.7394 - val_loss: 0.5752 - val_accuracy: 0.7263
Epoch 67/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5327 - accuracy: 0.7386 - val_loss: 0.5761 - val_accuracy: 0.7313
Epoch 68/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5323 - accuracy: 0.7386 - val_loss: 0.5845 - val_accuracy: 0.7234
Epoch 69/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5326 - accuracy: 0.7381 - val_loss: 0.5721 - val_accuracy: 0.7321
Epoch 70/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5320 - accuracy: 0.7382 - val_loss: 0.5775 - val_accuracy: 0.7318
Epoch 71/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5315 - accuracy: 0.7383 - val_loss: 0.5790 - val_accuracy: 0.7304
Epoch 72/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5321 - accuracy: 0.7386 - val_loss: 0.5790 - val_accuracy: 0.7299
Epoch 73/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5326 - accuracy: 0.7375 - val_loss: 0.5771 - val_accuracy: 0.7311
Epoch 74/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5323 - accuracy: 0.7391 - val_loss: 0.5794 - val_accuracy: 0.7308
Epoch 75/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5314 - accuracy: 0.7392 - val_loss: 0.5746 - val_accuracy: 0.7319
Epoch 76/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5312 - accuracy: 0.7401 - val_loss: 0.5800 - val_accuracy: 0.7315
Epoch 77/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5308 - accuracy: 0.7397 - val_loss: 0.5792 - val_accuracy: 0.7319
Epoch 78/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5309 - accuracy: 0.7398 - val_loss: 0.5817 - val_accuracy: 0.7304
Epoch 79/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5309 - accuracy: 0.7384 - val_loss: 0.5810 - val_accuracy: 0.7299
Epoch 80/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5317 - accuracy: 0.7387 - val_loss: 0.5794 - val_accuracy: 0.7305
Epoch 81/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5310 - accuracy: 0.7401 - val_loss: 0.5803 - val_accuracy: 0.7315
Epoch 82/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5306 - accuracy: 0.7398 - val_loss: 0.5846 - val_accuracy: 0.7246
Epoch 83/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5306 - accuracy: 0.7393 - val_loss: 0.5813 - val_accuracy: 0.7288
Epoch 84/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5304 - accuracy: 0.7396 - val_loss: 0.5832 - val_accuracy: 0.7294
Epoch 85/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5307 - accuracy: 0.7399 - val_loss: 0.5806 - val_accuracy: 0.7311
Epoch 86/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5313 - accuracy: 0.7388 - val_loss: 0.5820 - val_accuracy: 0.7282
Epoch 87/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5319 - accuracy: 0.7376 - val_loss: 0.5792 - val_accuracy: 0.7283
Epoch 88/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5320 - accuracy: 0.7387 - val_loss: 0.5725 - val_accuracy: 0.7315
Epoch 89/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5307 - accuracy: 0.7399 - val_loss: 0.5766 - val_accuracy: 0.7302
Epoch 90/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5309 - accuracy: 0.7398 - val_loss: 0.5818 - val_accuracy: 0.7304
Epoch 91/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5308 - accuracy: 0.7402 - val_loss: 0.5838 - val_accuracy: 0.7299
Epoch 92/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5310 - accuracy: 0.7403 - val_loss: 0.5831 - val_accuracy: 0.7307
Epoch 93/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5304 - accuracy: 0.7390 - val_loss: 0.5816 - val_accuracy: 0.7321
Epoch 94/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5305 - accuracy: 0.7395 - val_loss: 0.5783 - val_accuracy: 0.7315
Epoch 95/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5305 - accuracy: 0.7389 - val_loss: 0.5833 - val_accuracy: 0.7310
Epoch 96/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5303 - accuracy: 0.7395 - val_loss: 0.5836 - val_accuracy: 0.7316
Epoch 97/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5305 - accuracy: 0.7389 - val_loss: 0.5829 - val_accuracy: 0.7308
Epoch 98/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5303 - accuracy: 0.7395 - val_loss: 0.5831 - val_accuracy: 0.7321
Epoch 99/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5308 - accuracy: 0.7399 - val_loss: 0.5836 - val_accuracy: 0.7305
Epoch 100/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5305 - accuracy: 0.7392 - val_loss: 0.5837 - val_accuracy: 0.7287
Epoch 101/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5311 - accuracy: 0.7396 - val_loss: 0.5848 - val_accuracy: 0.7310
Epoch 102/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5304 - accuracy: 0.7394 - val_loss: 0.5848 - val_accuracy: 0.7290
Epoch 103/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5303 - accuracy: 0.7396 - val_loss: 0.5872 - val_accuracy: 0.7308
Epoch 104/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5306 - accuracy: 0.7393 - val_loss: 0.5859 - val_accuracy: 0.7293
Epoch 105/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5306 - accuracy: 0.7402 - val_loss: 0.5853 - val_accuracy: 0.7301
Epoch 106/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5310 - accuracy: 0.7394 - val_loss: 0.5778 - val_accuracy: 0.7310
Epoch 107/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5311 - accuracy: 0.7403 - val_loss: 0.5844 - val_accuracy: 0.7274
Epoch 108/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5303 - accuracy: 0.7393 - val_loss: 0.5834 - val_accuracy: 0.7301
Epoch 109/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5311 - accuracy: 0.7385 - val_loss: 0.5843 - val_accuracy: 0.7299
Epoch 110/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5303 - accuracy: 0.7386 - val_loss: 0.5852 - val_accuracy: 0.7296
Epoch 111/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5294 - accuracy: 0.7394 - val_loss: 0.5860 - val_accuracy: 0.7302
Epoch 112/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5296 - accuracy: 0.7400 - val_loss: 0.5902 - val_accuracy: 0.7297
Epoch 113/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5295 - accuracy: 0.7394 - val_loss: 0.5845 - val_accuracy: 0.7301
Epoch 114/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5307 - accuracy: 0.7394 - val_loss: 0.5803 - val_accuracy: 0.7315

Epoch 115/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5299 - accuracy: 0.7392 - val_loss: 0.5844 - val_accuracy: 0.7304
Epoch 116/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5299 - accuracy: 0.7390 - val_loss: 0.5889 - val_accuracy: 0.7302
Epoch 117/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5315 - accuracy: 0.7387 - val_loss: 0.5811 - val_accuracy: 0.7285
Epoch 118/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5309 - accuracy: 0.7390 - val_loss: 0.5846 - val_accuracy: 0.7313
Epoch 119/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5301 - accuracy: 0.7388 - val_loss: 0.5799 - val_accuracy: 0.7315
Epoch 120/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5294 - accuracy: 0.7392 - val_loss: 0.5845 - val_accuracy: 0.7319
Epoch 121/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5297 - accuracy: 0.7395 - val_loss: 0.5858 - val_accuracy: 0.7321
Epoch 122/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5298 - accuracy: 0.7404 - val_loss: 0.5865 - val_accuracy: 0.7305
Epoch 123/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5308 - accuracy: 0.7384 - val_loss: 0.5797 - val_accuracy: 0.7315
Epoch 124/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5308 - accuracy: 0.7392 - val_loss: 0.5863 - val_accuracy: 0.7296
Epoch 125/125
386/386 [==============================] - 1s 2ms/step - loss: 0.5301 - accuracy: 0.7401 - val_loss: 0.5872 - val_accuracy: 0.7315

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5770 - accuracy: 0.7385 - 239ms/epoch - 893us/step
Loss: 0.5769720077514648, Accuracy: 0.7385422587394714

In [ ]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")

C:\Users\Cody\anaconda3\envs\dev\lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(